<!-- <!DOCTYPE html>
<html>
  <head>
    <title>AAAIR-BNB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>AAAIR-BNB</h1>
    <p>Welcome to 'AAAIR Bnb - Luxurious and lascivious rooms for unforgettable nights</p>

    <div class="jumbotron">
        <h4> Would you like to have a peep at our love nests?</h4>
                <form action = '/rooms' >
                <input type='submit' value = "Let the experience begin">
                </form>
    </div>

    <div>
      <ul id=ol>
        <%var counter=0%>
          <% propAll.reverse().forEach(function (room) { %>
            <li id="<%counter%>">
              <%= room.title %><br>
                <%= room.description %><br> £
                  <%=room.price%> per night
                    <%counter +=1 %>
            </li><br>
            <% }) %>
      </ul>
    </div>


  </body>
</html> -->


<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container">

  <div class="jumbotron">
    <h1>AAAIR-BNB</h1>

      <h4> Would you like to have a peep at our love nests?</h4>
              <form action = '/rooms' >
              <input type='submit' value = "Let the experience begin" class="btn btn-primary">
              </form>
  </div>




  <div class="panel-group" id="rooms">
    <%var counter=0%>
    <% propAll.reverse().forEach(function (room) { %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#rooms" href="#<%=room.id%>"><%= room.title %></a>
        </h4>
      </div>
      <div id="<%=room.id%>" class="panel-collapse collapse ">          
        <div class="panel-body"><%= room.description %></div>

        <div class="panel-body">£<%=room.price%> Per night</div>
		<%counter +=1 %>
      </div>
    </div>
    <% }) %>


  </div>
</div>

</body>
</html>
