<!doctype html>
<html lang="en">

<head>
</head>

<body class="container">

  <main>

    <h4> Would You Like to list a love nest?</h4>
    <form action='/rooms/add' method="get">
      <input type='submit' name='addroom' value="Add nest">
    </form>
    </div>

    <div>
      <ul id=ol>
        <%var counter=0%>
          <% propAll.reverse().forEach(function (room) { %>
            <li id="<%counter%>">
              <%= room.title %><br/>
                <%= room.description %><br/> £
                <%=room.price%> per night <br/>
                Location: <%=room.location%> <br/>
                Availiblity <%=room.date_from%> to <%= room.date_to %> <br/>

                Contact Name: <%=room.contact_name%> <br />
                Contact Number: <%= room.contact_number %>
            </li><br>
            <% }) %>
      </ul>
    </div>

    
  </main>

</body>

</html>


<ul>
</ul>
